<!DOCTYPE html>
<html>
<title>GCSE Grade Predictor</title>
<link rel="stylesheet" href="style.css">
<nav>
    <h1>GCSE and Mock Grade Predictor</h1>
    <ol>
        <li>MathsF</li>
        <li>MathsH</li>
        <li>englishL</li>
        <li>englishH</li>
        <li>scienceF</li>
        <li>physicsTriple</li>
        <li>biologyTriple</li>
        <li>chemistryTriple</li>
        <li>scienceH</li>
        <li>geography</li>
        <li>history</li>
        <li>CS</li>
        <li>french</li>
        <li>spanish</li>
        <li>german</li>
    </ol>
    <form method="POST">
            <label for "subjects">Choose your subjects: </label><br><br>
            <select subject="subjects"
        {% endfor %}
        <button type="submit">Predict Grades</button>
    </form>

    {% if results %}
        <h2>Predicted Grades:</h2>
        <ul>
            {% for subject, grade in results.items() %}
                <li>{{ subject }}: {{ grade }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
</html>
