<!DOCTYPE html>
<html>
<head>
    <title>GCSE Grade Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>GCSE and Mock Grade Predictor</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label>Enter your scores: the sum of all your mock exam scores for each subject</label>
                <div id="inputContainer"></div>
                <div id="subject-container"></div>
                <div class="form-group">
                    <button type="button" id="addSubjectBtn">Add Subject</button>
            <button type = "checkbox" id="subject-check"> </button>
                </div>
            <button type="submit">Predict Grades</button>
        </form>

        {% if results %}
            <h2>Predicted Grades:</h2>
            <ul class="results">
                {% for subject, grade in results.items() %}
                    <li><strong>{{ subject }}:</strong> {{ grade }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>